[Unit]
Description=ESP32 DNS Server (Go backend)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/sohidul/Code/aloevol/esp32-dns-server
ExecStart=/home/sohidul/Code/aloevol/esp32-dns-server/bin/dns-server
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
